.container {
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
}

.swiper_container {
    height: 48rem;
    padding: 2rem 0;
    position: relative;
}

.swiper-slide {
    width: 37rem;
    height: 38rem;
    position: relative;
}


.swiper-slide img {
    width: 34rem;
    height: 35rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination {
    position: relative;
    padding-bottom: 90px;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(79, 112, 195, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}

/* Home.css */

.art-card-table {
    width: 100%;
    border-collapse: collapse;
}

.art-card-table td {
    padding: 10px;
}

.even-row {
    animation: slideInLeft 10.5s forwards;
}

.left {
    animation: slideInLeft 2.5s forwards;
}


.odd-row {
    animation: slideInRight 10.5s forwards;
}

.right {
    animation: slideInRight 2.5s forwards;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}